NETWORK=nile

# GasFree.io API Credentials
# Get these by registering at https://gasfree.io
API_KEY=YOUR_API_KEY
API_SECRET=YOUR_API_SECRET


# TRON Nile Testnet Account
# IMPORTANT: This is a private key. Do not share it or commit it to version control.
USER_PRIVATE_KEY=YOUR_NILE_PRIVATE_KEY
USER_EOA_ADDRESS=YOUR_NILE_EOA_ADDRESS

DEPLOYER_PRIVATE_KEY=DEPLOYER_PRIVATE_KEY

# Transfer Details
RECIPIENT_ADDRESS=RECIPIENT_NILE_ADDRESS
